.locaation-position-container{
    padding-top: 30px;
    width: 100vw;
}

// @media (max-width: 1200px) {
//     .map-position-container{

//     }
// }

.locaation-position-building-rooftop{
    padding-top: 70px;
    padding-left:900px;
}

.locaation-position-club-room{
    padding-top: 40px;
    padding-left:600px;
}

.locaation-position-library{
    padding-top: 30px;
    padding-left:1050px;
}

.locaation-position-student-council{
    padding-top: 50px;
    padding-left:750px;
}

.locaation-position-calenda{
    padding-top: 80px;
    padding-left:850px;
}