.locaation-position-container{
    padding-top: 30px;
    width: 100vw;
}

// @media (max-width: 1200px) {
//     .map-position-container{

//     }
// }

.locaation-position-one{
    padding-top: 100px;
    padding-left:580px;
}

.locaation-position-two{
    padding-top: 30px;
    padding-left:1050px;
}

.locaation-position-three{
    padding-top: 120px;
    padding-left:1150px;
}

.locaation-position-four{
    padding-top: 40px;
    padding-left:550px;
}