$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.anime-universe-item-detail{
    display: flex;
    justify-items: end;
    background-position: center center;
    background-size: cover;
    height: 220px;
    width: 160px;
    border-radius: 12px;
    cursor: pointer;
}

.cutoff-test-content{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 12; /* number of lines to show */
    line-clamp: 12; 
   -webkit-box-orient: vertical;
    
}