.map-position-container{
    padding-top: 30px;
    width: 100vw;
}

// @media (max-width: 1200px) {
//     .map-position-container{

//     }
// }

.map-position-building-rooftop{
    padding-top: 20px;
    padding-left:750px;
}

.map-position-club-room{
    padding-top: 40px;
    padding-left:600px;
}

.map-position-library{
    padding-top: 100px;
    padding-left:1050px;
}

.map-position-student-council{
    padding-top: 50px;
    padding-left:750px;
}