$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
$colorGreen: #1EC602;
$colorFadedPink:#F169B2;
.wallpaper{
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        color: white;
        padding: 2rem;
        font-size: 28px;
        font-weight: 800;
    }
}
.wallpaper-container{
    display: flex;
    justify-content: space-between;
}
.wallpaper-container-box{
    // img{
    //     border-radius: 15px;
    //     width: 231px;
    //     height: 361px;
    //     margin-bottom: 20px;
    //     transition: transform .2s ease;
    //     cursor: pointer;
    //     &:hover{
    //       transform: scale(1.01);
    //     }
    // }
    button{
        padding: 12px 26px 12px 26px;
        background-color: $colorPink;
        color: $colorWhite;
        border: none;
        border-radius: 15px;
        font-size: 24px;
        transition: transform .2s ease;
        cursor: pointer;
        &:hover{
            background-color: $colorBlack;
        }
    }
}
// .anime-category-button{
//     padding: 4px 14px 4px 14px;
//     border-radius: 18px;
//     border-width: 3px;
//     border-color: #736A6A;
//     color: $colorWhite;
//     margin-right: 5px;
//     margin-bottom: 4px;
//     &:hover{
//         cursor: pointer;
//         background-color:#bab3b3;
//         opacity: 0.8;
//     }
// }

.content-header{
    font-size: 24px;
    color: #FF1493;
    font-weight: 600;
}

.trailer-iframe{
    width: 672px;
    height: 378px;   
}

.trailer-container{
    width: 672px;
}

.trailer-slider{
    padding-top: 4px;
    display: flex;
    width: 672px;
    gap: 3px;
    overflow-x: auto;        /* เปิด scrollbar แนวนอน */
    scroll-behavior: smooth; /* เลื่อนนุ่มนวล */
}

.trailer-slider-item{
    width: 133px;
    height: 77px;
}

@media (max-width: 900px) {
    .trailer-iframe{
        width: 560px;
        height: 315px;   
    }

    .trailer-slider{
        width: 560px;
    }

    .trailer-slider-item{
        width: 135px;
        height: 77px; 
    }
}

@media (max-width: 800px) {
    .trailer-iframe{
        width: 280px;
        height: 158px;   
    }
}
