$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.anime-card-item{
    display: flex;
    justify-items: end;
    background-position: center center;
    background-size: cover;
    height: 220px;
    width: 160px;
    border-radius: 15px;
    transition: transform .3s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    h5{
        color: $colorWhite;
        text-align: center;
        background-color: $colorPink;
        width: 160px;
        padding: 2px 0px 2px 0px;
        position: absolute;
        bottom:0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 14px;
      }
}