.map-background{
    display: flex;
    background-position: center center;
    background-size: cover;
    height:100vh;
    width: 100%;
    background-image: url("https://wallpapers.com/images/hd/school-background-gnf7tpb6pr79lmyj.jpg");
}