$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.link-season{
    background-color: $colorBlack;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    padding: 16px;
    &:hover{
        text-decoration: none;
        color:$colorPink;
    }
    text-transform: capitalize;
  }