$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#371037;
$colorGray : #C3BBBE;
.modalStyles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 840px;
    background-color: $colorBlack;
    border: none;
    border-radius: 15px;
}
.modal-header{
    padding: 20px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    
    button{
        background-color: $colorPink;
        padding: 20px;
        border-radius: 12px;
        font-size: medium;
        color: $colorWhite;
        cursor: pointer;
        &:hover{
            background-color: $colorDarkPink;
        }
    }
}
.modal-header-detail{
    display: flex;
    flex-direction: column;

    h1{
        color: $colorWhite;
    }
    p{
        color: $colorWhite;
        font-size: medium;

    }
}
.modal-buttom{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    h2{
        color:$colorPink;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    h1{
        color:$colorWhite;
        font-size: 32px;
        padding-bottom: 5px;
        border-bottom:  5px solid #FF1493;
    }
    
    }

.modal-button-addtolist{
        background-color: $colorPink;
        padding: 20px;
        border-radius: 12px;
        margin-top: 47px;
        font-size: medium;
        color: $colorWhite;
        cursor: pointer;
        &:hover{
            background-color: $colorDarkPink;
        }
}
.modal-select{
    background-color: $colorWhite;
    border-radius: 5px;
}